.navbar {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo h6 {
  font-size: 16px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 500;
  color: #252117;
}

.user-info {
  display: flex;
  align-items: center
}

.user-info p {
  margin-right: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-align: right;
  color: #000000;
}