* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #F5F4F0;
}

.signature {
  color: black;
  background: #EBEBEB;
  height: 10px;
  padding: 10px 50px;
  padding-bottom: 20px;
}

.signature-content {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.signature-content p {
  margin-left: 5px;
  margin-right: 5px;
}